* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #1f1f1f;
}
li {
  list-style: none;
}
button {
  padding: 0;
  border: none;
  background-color: transparent;
}
body {
  color: #313131;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}
.slider__title.slider__title-1,
.slider__control.slider__control-media,
.table__media,
.slider__stage,
.slider__control-btn-media {
  display: none;
}
.container {
  max-width: 1240px;

  padding: 0 10px;
  margin: 0 auto;
}
.header {
  background-color: #e7dbd0;
  padding-bottom: 100px;
}
.header__inner {
  background-color: #e7dbd0;
  display: flex;

  justify-content: space-between;
  position: relative;
}
.header__info {
  width: 542px;
  margin-right: 20px;
}
.header__logo {
  padding-top: 25px;
  margin: 0 0 62px;
}
.header__title {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 24px;
  line-height: 110%;
}
.header__title span {
  margin-left: 90px;
}

.header__text {
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
  font-family: "Golos Text", sans-serif;
}
.header__link {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 263px;

  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 49px;
  border-radius: 66px;
  text-align: center;
  transition: all 0.5s ease;
}
.button-black {
  background-color: #1f1f1f;
  color: #fff;
}
.button-black:hover {
  background-color: #fbce51;
  color: #1f1f1f;
}

.button-white {
  background-color: #e7dbd0;
  border: 2px solid #1f1f1f;
}
.button-white:hover {
  background-color: #1f1f1f;
  color: #fff;
}
.header__image {
  position: absolute;
  top: 0;
  right: -50px;
}
.red-line {
  width: 100%;
  background-color: #f54932;
  height: 60px;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  padding: 18px;
  margin: 0 auto;
  overflow: hidden;
}

.red-line-text {
  display: flex;
  width: 200%;
  animation: running-text 30s linear infinite;
}
.red-line-text p {
  white-space: nowrap;
  width: 100%;
}
@keyframes running-text {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.title {
  width: 764px;
  font-size: 36px;
  line-height: 135%;
  text-transform: uppercase;
  font-weight: 300;
  margin: 80px 0 50px;
}
.title span {
  color: #f54932;
  font-weight: 400;
}
.information {
  margin-bottom: 200px;
}
.information__inner {
  display: flex;

  justify-content: space-between;
}
.information__image {
  width: 510px;
  width: 100%;
  height: 575px;
}
.information__image img {
  margin-left: -30px;
}

.information__title {
  width: 704px;
  margin: 40px 0 40px;
}
.information__text {
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  color: #3057a2;
  line-height: 120%;
}
table {
  margin-bottom: 38px;
  border-collapse: collapse;
}
table td {
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  opacity: 0.7;
  font-weight: 400;
  padding: 16px;
}
.bold {
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 600;
  opacity: 1;
}
.bold span {
  text-decoration: line-through;
  text-decoration-color: red;
  margin-right: 12px;
}

table td,
table tr {
  border-style: solid;
  border-color: #d0d0d0;
  border-width: 0 0px 1px 0;
}
table td:nth-child(odd) {
  border-width: 0 1px 0px 0;
}

.stages {
  margin-bottom: 200px;
}
.stages__info {
  display: grid;

  grid-template-columns: 1fr 2fr;
  width: 808px;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 15px;
  align-self: flex-end;
}
.stages__info-item h4 {
  font-size: 54px;
  text-transform: uppercase;
  font-weight: 400;
}
.stages__info-item p {
  margin-top: 8px;
  width: 280px;
  font-size: 20px;
  color: #3057a2;
  font-family: "Golos Text", sans-serif;
}

.stages__info-item:nth-child(1) {
  grid-column: span 2;
}

.stages__items {
  display: grid;
  grid-template-columns: repeat(3, 394px);
  grid-template-rows: repeat(3, minmax(112px 136px));
  gap: 20px;
}
.stages__item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  transition: all 0.7s ease;
  cursor: pointer;
}
.stages__item p {
  min-height: 72px;
  width: 302px;
}
.stages__item .item7 {
  display: flex;
  width: 446px;
  margin-right: auto;
}
.span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.stages__item:nth-child(3) {
  grid-row: span 2;
}
.stages__item:nth-child(7) {
  grid-column: span 2;
  height: 136px;
}
.stages__item:nth-child(6) {
  height: 136px;
}
.stages__item:hover {
  background-color: #d9d9d9;
}

.stages__item:hover .span {
  background-color: #fff;
}

.slider__title,
.stages__title {
  font-size: 54px;
  text-transform: uppercase;
  width: 806px;
  font-weight: 400;
}
.slider__image {
  position: relative;
  border-radius: 50%;
  width: 320px;
  height: 320px;
  border: 1px solid green;
  overflow: hidden;
  background-image: linear-gradient(#424241, #424241);
  margin-bottom: 28px;
}
.slider__image img {
  position: absolute;
  top: 20px;
  left: 12px;
}
.slider__inner {
  width: 394px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 140px;
}

.slider__name {
  font-family: "Golos Text", sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 5px;
}
.slider__text {
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #313131;
  margin-bottom: 20px;
}
.slider__item a {
  display: flex;
  width: 113px;
  height: 35px;
  border: 1px solid #3057a2;
  font-family: "Golos Text", sans-serif;
  font-weight: 600;
  font-size: 16px;
  border-radius: 62px;
  padding: 12px;
  color: #3057a2;
  text-align: center;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.slider__inner a:hover {
  background-color: #3057a2;
  color: #fff;
}
.footer {
  background-color: #e9ded4;
  padding: 40px 72px 72px;
}
.footer__info {
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.slider__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;

  cursor: pointer;
}
.slider__control-btn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}
.slider__control-btn span {
  text-align: center;
  align-self: center;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.slider__control-btn svg > circle:hover {
  fill: #fbce51;
  transition: all 0.3s ease;
}
[aria-disabled="true"] {
  opacity: 0.5;
}

/* //media */

@media (max-width: 376px) {
  .header {
    padding-bottom: 50px;
  }
  .header__logo {
    margin-top: 0;
    padding-top: 20px;
  }
  .header__inner {
    display: block;
    margin: 0 auto;
    width: 98%;
  }
  .header__image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    margin: -70px auto 0;
    z-index: 2;
  }
  .header__image img {
    text-align: center;
    position: relative;
    width: 298px;
  }
  .slider__title {
    font-size: 36px;
  }
  .header__info {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
  }
  .header__title {
    width: 330px;
    font-size: 28px;
  }
  .header__text {
    width: 330px;
    text-align: left;
  }
  .header__link {
    flex-direction: column;
  }
  .button {
    width: 330px;
    padding: 18px;
    font-size: 16px;

    margin: 0 0 14px;
  }
  .button-white {
    background-color: #fff;
    opacity: 0.9;
    margin-bottom: 0;
    border: none;
    z-index: 10;
  }
  .title,
  .information__title {
    width: 335px;
    font-size: 28px;
    margin: 46px auto 34px;
  }
  .information__text {
    width: 335px;
    font-size: 18px;
  }
  .information__image {
    width: 335px;
    height: 402px;
  }
  .information__image img {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .information__title {
    margin: 24px 0 44px;
  }
  .slider__title,
  .stages__title {
    font-size: 36px;
    width: 335px;
  }
  .stages__info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 148px;
  }
  .stages__info-item h4 {
    font-size: 36px;
  }
  .stages__info-item p {
    font-size: 18px;
  }
  .stages__items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }
  .slider__gallery {
    width: 100%;
  }
  .slider__inner {
    width: 90%;
    margin: 0 auto 40px;
  }
  .slider__item {
    width: 100%;
  }
  .slider__title.slider__title-1 {
    margin-bottom: 40px;
    display: block;
  }
  .slider__control {
    display: none;
  }
  .slider__control.slider__control-media {
    display: block;
  }
  .slider__control-btn {
    display: flex;
    justify-content: center;
  }
  .information__inner {
    flex-wrap: wrap;
  }
  .information__left {
    margin: 0 auto;
  }
  .table__media {
    display: block;
    width: 335px;
    margin-bottom: 40px;
    margin: 40px auto 40px;
  }

  .table__media p {
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #d0d0d0;
  }
  .table__media p:last-child {
    border-bottom: none;
  }
  .table__media span {
    display: inline-block;
    padding-top: 12px;
    font-weight: 600;
    font-size: 20px;
  }
  .red-span {
    text-decoration: line-through;
    text-decoration-color: red;
  }
  .footer {
    padding: 40px 10px 60px;
  }
  .footer__info {
    width: 335px;
    font-size: 16px;
    font-weight: 400;
  }
  table {
    display: none;
  }
  .stages__info-item {
    width: 335px;
  }
  .stages__info {
    display: block;
    width: 335px;
  }
  .slider__stage {
    display: block;
    width: 336px;
    margin: 0 auto;
  }
  .slider__stage-item {
    padding: 62px 10px 20px;
    background-color: #d9d9d9;
    min-height: 300px;
    margin: 0;
    font-size: 18px;
  }
  .stages__items {
    display: none;
  }
  .stages__item {
    margin: 0;
    padding: 0;
    font-weight: 500;
    justify-content: start;
  }
  .stages__item p {
    margin-bottom: 10px;
    width: 265px;
    margin-right: 0;
  }
  .stages__item .span {
    background-color: #fff;
    font-size: 16px;
    margin-right: 14px;
    width: 32px;
    height: 32px;
  }
  .stages__item .item7 {
    width: 265px;
  }
  .slick-dots {
    margin-top: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
    justify-content: center;
  }
  /* .slick-dots li {
    line-height: 0;
    font-size: 0;
  } */
  .slick-dots li button {
    line-height: 0;
    font-size: 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #d9d9d9;
  }
  .slick-dots li.slick-active button {
    background-color: #313131;
  }
  .slider__control-btn-media {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  .stages,
  .information {
    margin-bottom: 100px;
  }
}
